.sfondo{
    background: url("../img/sfondo_registrazione2.png");
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center top;  }

.column
{
    display: inline;
}
.form_input
{
    margin-top: 80px;
}
